<h1>Edit User</h1>
 <a class="btn btn-primary " href="/">All Users</a>
 
  <form method="POST" action="/update">
  <input type="hidden" name="id" value="{{user.dataValues.id}}">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name Complet</label>
    <input type="text" name="name" value={{user.dataValues.name}} class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email" name="email" value={{user.dataValues.email}} class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Password</label>
    <input type="password" name="password" value={{user.dataValues.password}} class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
   
  
  <button type="submit" class="btn btn-primary">Update User</button>
</form>
